<!doctype html>
{% load static %}
<html lang="en">
<head>
  <link rel ="stylesheet" href="/static/javascript.js">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Aref Ruqaa' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion .one" ).accordion({
        active: false,
        collapsible :true,
        // animate : 300
    });
  } );
  </script>
  <script>
 $(function() {
  $('.up').on('click', function(e) {
    var wrapper = $(this).closest('.one')
    wrapper.insertBefore(wrapper.prev())
  })
  $('.down').on('click', function(e) {
    var wrapper = $(this).closest('.one')
    wrapper.insertAfter(wrapper.next())
  })
})
</script>
  <style>
    .one{
          background-color:rgb(252, 252, 201);
          padding:3px;
          align-items: center;
          margin: 2px;
          box-shadow:3px 3px rgba(218, 218, 167, 0.548);
          width: 99%;
          overflow: hidden;
      }
    #top,#bottom {
    position:fixed;
    left: 0;
    right: 0;
    height: 50%;
    align-items: center;
    }

    #top {
    top: 0;
    background-image: url("{% static background %}");
    padding: 30px;
    }

    #bottom {
    bottom: 0;
    background-color:rgb(252, 252, 201);
    }
    
    a.up {
    text-decoration: none;
    display: inline-block;
    padding: 3px 5px;  
    margin: 3px; 
    background-color:gainsboro;
    }
a.down {
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  margin: 3px;
  background-color:gainsboro;
}
h1{
    font-size: 65px;
    font-family:Allura;
}
p{
    font-size: 18px;
    font-family:Aref Ruqaa;
    background-color:rgba(255, 255, 197, 0.945);
}
h3{
  background-blend-mode: multiply;
}
  </style>
</head>
<body>
<div id="top"> <h1>Angelin Depthios</h1> 

</div>

<div id="bottom">
    <div id="accordion">
        <div Class="one">   
            <h3>About Me <span style="float:right"><a class='up'>+</a>&nbsp;&nbsp;<a class='down'>-</a></span></h3>
                    <p> Hello! My name is Angelin Depthios. Most of my friends call me depti! I am a computer science student in Universitas Indonesia.
                    Next year, I'm going to continue my study to University of Queensland in Australia. 
                    </p>
        </div>
  
        <div Class="one">
            <h3>Current Activities<span style="float:right"><a class='up'>+</a>&nbsp;&nbsp;<a class='down'>-</a></span></h3>   
                <p> Study<br> Sleep<br> Watch Movies<br> </p>
        
        </div>
  
        <div Class="one">
            <h3>Experience<span style="float:right"><a class='up' href='#'>+</a>&nbsp;&nbsp;<a class='down'>-</a></span></h3>   
                <p>Staff of Digital Marketing in Compfest 2020<br> Staff of bazaar in PERAK FASILKOM 2019<br>
                </p>
        </div>
          
        <div Class="one">
            <h3>Achievement<span style="float:right"><a class='up' href='#'>+</a>&nbsp;&nbsp;<a class='down'>-</a></span></h3>   
                <p>Juara lomba esai newbie cup<br>
                </p>
          </div>
    </div>

</div>

</body>
</html>